#!/usr/bin/env bash

bucket='{{ s3_backups_bucket }}'
prefix="${1:-manual}"
filename="backup-$(date +%Y%m%d-%H%M%S)-{{ instance_id }}.gz"
destination="s3://${bucket}/${prefix}/${filename}"

echo "Compressing and backing up to ${destination}"
ionice -c 3 nice gzip -cv '{{ data_file }}' | aws s3 cp - "${destination}"