dn: {{ base_users }}
{{ base_users | regex_replace('(^.+?)=.*', '\\1') }}: {{ base_users | regex_replace('^.+?=(.+?),', '\\1') }}
objectclass: {{ base_users | regex_replace('^(.+?)=.*', '\\1') | replace('ou', 'organizationalUnit') }}
objectclass: top
