# Add root context
dn: {{ base_root }}
objectClass: domain
dc: {{ base_root | regex_replace('^.+?=(.+?),.*$', '\\1') }}

# Add user context
dn: {{ base_users }}
{{ base_users | regex_replace('(^.+?)=.*$', '\\1') }}: {{ base_users | regex_replace('^.+?=(.+?),.*$', '\\1') }}
objectclass: {{ base_users | regex_replace('^(.+?)=.*', '\\1') | replace('ou', 'organizationalUnit') | replace('cn', 'javaContainer') }}
objectclass: top

# Add admin user
dn: {{ bind_user }}
objectClass: person
cn: {{ bind_user | regex_replace('^.+?=(.+?),.*$', '\\1') }}
sn: {{ bind_user | regex_replace('^.+?=(.+?),.*$', '\\1') }}
userPassword: {{ bind_password_hash.stdout }}
