dn: olcDatabase={2}mdb,cn=config
objectClass: olcDatabaseConfig
objectClass: olcMdbConfig
olcDatabase: {2}mdb
olcDbDirectory: /var/lib/ldap
olcSuffix: {{ base_root }}
olcAccess: {0}to *
  by dn.base="gidNumber=0+uidNumber=0,cn=peercred,cn=external,cn=auth" write
  by dn="{{ bind_user | default('cn=admin'+base_root) }}" write
  by dn="cn=pwm-admin,{{ base_users }}" write
  by self write
  by anonymous auth
  by * read
olcRootDN: cn=root,{{ base_root }}
olcRootPW: {{ bind_password_hash.stdout }}
olcTimeLimit: time.soft={{ time_limit | default('30') }} time.hard={{ time_limit | default('30') }}
olcDbIndex: ou,cn,mail,surname,givenName eq,pres,sub
olcDbIndex: objectClass,uniqueMember,uid,member,entryUUID eq,pres
olcDbMaxSize: {{ db_max_size | default('53687091200') }}

# Add root dn
dn: {{ base_root }}
objectClass: domain
dc: {{ base_root | regex_replace('^.+?=(.+?),.*$', '\\1') }}

# Add admin user
dn: {{ bind_user }}
objectClass: person
cn: {{ base_root | regex_replace('^.+?=(.+?),.*$', '\\1') }}
sn: {{ base_root | regex_replace('^.+?=(.+?),.*$', '\\1') }}
userPassword: {{ bind_password_hash.stdout }}
