[Unit]
Description=HTTP Server to check whether this is the primary LDAP node
After=syslog.target network-online.target slapd.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/bin/leader-election.py
Restart=on-failure

[Install]
WantedBy=multi-user.target