USR-ALL-NDMIS Access,{{ base_groups }}
USR-ALL-NDMIS-REPORTING-RECALC,{{ base_groups }}
USR-ALL-USERS-NDMIS Report Users,{{ base_groups }}
USR-ASP-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-ASP-NDMIS Reporting users group,{{ base_groups }}
USR-BED-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-BED-NDMIS Reporting users group,{{ base_groups }}
USR-CBS-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-CBS-NDMIS Reporting users group,{{ base_groups }}
USR-CHS-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-CHS-NDMIS Reporting users group,{{ base_groups }}
USR-CMB-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-CMB-NDMIS Reporting users group,{{ base_groups }}
USR-DBS-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-DBS-NDMIS Reporting users group,{{ base_groups }}
USR-DCP-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-DCP-NDMIS Reporting users group,{{ base_groups }}
USR-DPP-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-DPP-NDMIS Reporting users group,{{ base_groups }}
USR-DRH-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-DRH-NDMIS Reporting users group,{{ base_groups }}
USR-DRS-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-DRS-NDMIS Reporting users group,{{ base_groups }}
USR-ESX-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-ESX-NDMIS Reporting users group,{{ base_groups }}
USR-GCS-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-GCS-NDMIS Reporting users group,{{ base_groups }}
USR-GWT-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-GWT-NDMIS Reporting users group,{{ base_groups }}
USR-HBS-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-HBS-NDMIS Reporting users group,{{ base_groups }}
USR-HFS-NDMIS Reporting users group,{{ base_groups }}
USR-HPS-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-HPS-NDMIS Reporting users group,{{ base_groups }}
USR-KNT-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-KNT-NDMIS Reporting users group,{{ base_groups }}
USR-LCS-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-LCS-NDMIS Reporting users group,{{ base_groups }}
USR-LDN-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-LDN-NDMIS Reporting users group,{{ base_groups }}
USR-LNS-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-LNS-NDMIS Reporting users group,{{ base_groups }}
USR-LTS-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-LTS-NDMIS Reporting users group,{{ base_groups }}
USR-MCG-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-MCG-NDMIS Reporting users group,{{ base_groups }}
USR-MLW-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-MLW-NDMIS Reporting users group,{{ base_groups }}
USR-MOJ-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-MOJ-NDMIS Reporting users group,{{ base_groups }}
USR-MRS-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-MRS-NDMIS Reporting users group,{{ base_groups }}
USR-NBR-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-NFK-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-NFK-NDMIS Reporting users group,{{ base_groups }}
USR-NHS-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-NHS-NDMIS Reporting users group,{{ base_groups }}
USR-NTS-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-NTS-NDMIS Reporting users group,{{ base_groups }}
USR-PAG-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-PAG-NDMIS Reporting users group,{{ base_groups }}
USR-SRY-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-SRY-NDMIS Reporting users group,{{ base_groups }}
USR-SSX-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-SSX-NDMIS Reporting users group,{{ base_groups }}
USR-STF-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-STF-NDMIS Reporting users group,{{ base_groups }}
USR-SWS-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-SWS-NDMIS Reporting users group,{{ base_groups }}
USR-TES-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-TES-NDMIS Reporting users group,{{ base_groups }}
USR-TVY-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-TVY-NDMIS Reporting users group,{{ base_groups }}
USR-WLS-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-WLS-NDMIS Reporting users group,{{ base_groups }}
USR-WMP-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-WMP-NDMIS Reporting users group,{{ base_groups }}
USR-WSN-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-WSN-NDMIS Reporting users group,{{ base_groups }}
USR-WTS-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-WTS-NDMIS Reporting users group,{{ base_groups }}
USR-WWS-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-WWS-NDMIS Reporting users group,{{ base_groups }}
USR-YSN-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-YSN-NDMIS Reporting users group,{{ base_groups }}
USR-YSS-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-YSS-NDMIS Reporting users group,{{ base_groups }}
USR-YSW-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-YSW-NDMIS Reporting users group,{{ base_groups }}
USR-ALL-WRITERS-NDMIS Report Writers,{{ base_groups }}
USR-CPA01-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-CPA01-NDMIS Reporting users group,{{ base_groups }}
USR-CPA02-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-CPA02-NDMIS Reporting users group,{{ base_groups }}
USR-CPA03-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-CPA03-NDMIS Reporting users group,{{ base_groups }}
USR-CPA04-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-CPA04-NDMIS Reporting users group,{{ base_groups }}
USR-CPA05-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-CPA05-NDMIS Reporting users group,{{ base_groups }}
USR-CPA06-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-CPA06-NDMIS Reporting users group,{{ base_groups }}
USR-CPA07-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-CPA07-NDMIS Reporting users group,{{ base_groups }}
USR-CPA08-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-CPA08-NDMIS Reporting users group,{{ base_groups }}
USR-CPA09-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-CPA09-NDMIS Reporting users group,{{ base_groups }}
USR-CPA10-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-CPA10-NDMIS Reporting users group,{{ base_groups }}
USR-CPA11-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-CPA11-NDMIS Reporting users group,{{ base_groups }}
USR-CPA12-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-CPA12-NDMIS Reporting users group,{{ base_groups }}
USR-CPA13-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-CPA13-NDMIS Reporting users group,{{ base_groups }}
USR-CPA14-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-CPA14-NDMIS Reporting users group,{{ base_groups }}
USR-CPA15-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-CPA15-NDMIS Reporting users group,{{ base_groups }}
USR-CPA16-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-CPA16-NDMIS Reporting users group,{{ base_groups }}
USR-CPA17-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-CPA17-NDMIS Reporting users group,{{ base_groups }}
USR-CPA18-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-CPA18-NDMIS Reporting users group,{{ base_groups }}
USR-CPA19-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-CPA19-NDMIS Reporting users group,{{ base_groups }}
USR-CPA20-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-CPA20-NDMIS Reporting users group,{{ base_groups }}
USR-CPA21-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-CPA21-NDMIS Reporting users group,{{ base_groups }}
USR-DIV01-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-DIV01-NDMIS Reporting users group,{{ base_groups }}
USR-DIV02-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-DIV02-NDMIS Reporting users group,{{ base_groups }}
USR-DIV03-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-DIV03-NDMIS Reporting users group,{{ base_groups }}
USR-DIV04-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-DIV04-NDMIS Reporting users group,{{ base_groups }}
USR-DIV05-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-DIV05-NDMIS Reporting users group,{{ base_groups }}
USR-DIV06-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-DIV06-NDMIS Reporting users group,{{ base_groups }}
USR-DIV07-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-DIV07-NDMIS Reporting users group,{{ base_groups }}
RES-APP-DRH-NDMIS Reporting ADMIN group,{{ base_groups }}
RES-APP-ESX-NDMIS Reporting users group,{{ base_groups }}
RES-APP-HBS-NDMIS Reporting ADMIN group,{{ base_groups }}
USR-MOJ-NDMIS-MANAGERS Reporting users group,{{ base_groups }}
USR-PAG-NDMIS-MANAGERS Reporting users group,{{ base_groups }}
USR-CPA01-NDMIS-MANAGERS Reporting users group,{{ base_groups }}
USR-CPA02-NDMIS-MANAGERS Reporting users group,{{ base_groups }}
USR-CPA03-NDMIS-MANAGERS Reporting users group,{{ base_groups }}
USR-CPA04-NDMIS-MANAGERS Reporting users group,{{ base_groups }}
USR-CPA05-NDMIS-MANAGERS Reporting users group,{{ base_groups }}
USR-CPA06-NDMIS-MANAGERS Reporting users group,{{ base_groups }}
USR-CPA07-NDMIS-MANAGERS Reporting users group,{{ base_groups }}
USR-CPA08-NDMIS-MANAGERS Reporting users group,{{ base_groups }}
USR-CPA09-NDMIS-MANAGERS Reporting users group,{{ base_groups }}
USR-CPA10-NDMIS-MANAGERS Reporting users group,{{ base_groups }}
USR-CPA11-NDMIS-MANAGERS Reporting users group,{{ base_groups }}
USR-CPA12-NDMIS-MANAGERS Reporting users group,{{ base_groups }}
USR-CPA13-NDMIS-MANAGERS Reporting users group,{{ base_groups }}
USR-CPA14-NDMIS-MANAGERS Reporting users group,{{ base_groups }}
USR-CPA15-NDMIS-MANAGERS Reporting users group,{{ base_groups }}
USR-CPA16-NDMIS-MANAGERS Reporting users group,{{ base_groups }}
USR-CPA17-NDMIS-MANAGERS Reporting users group,{{ base_groups }}
USR-CPA18-NDMIS-MANAGERS Reporting users group,{{ base_groups }}
USR-CPA19-NDMIS-MANAGERS Reporting users group,{{ base_groups }}
USR-CPA20-NDMIS-MANAGERS Reporting users group,{{ base_groups }}
USR-CPA21-NDMIS-MANAGERS Reporting users group,{{ base_groups }}
USR-DIV01-NDMIS-MANAGERS Reporting users group,{{ base_groups }}
USR-DIV02-NDMIS-MANAGERS Reporting users group,{{ base_groups }}
USR-DIV03-NDMIS-MANAGERS Reporting users group,{{ base_groups }}
USR-DIV04-NDMIS-MANAGERS Reporting users group,{{ base_groups }}
USR-DIV05-NDMIS-MANAGERS Reporting users group,{{ base_groups }}
USR-DIV06-NDMIS-MANAGERS Reporting users group,{{ base_groups }}
USR-DIV07-NDMIS-MANAGERS Reporting users group,{{ base_groups }}
USR-ALL-AUDIT-Access to the NDMIS Audit reporting,{{ base_groups }}
USR-ALL-FORM2030-Access to the Forms 20-30 folder,{{ base_groups }}
USR-ALL-CPA-Access to the NDMIS CPA Reports folder,{{ base_groups }}
USR-ALL-MOJ-Access to the NDMIS NPS Reports folder,{{ base_groups }}
USR-ALL-NPS-Access to the NDMIS DIV Reports folder,{{ base_groups }}
USR-ALL-PAG-Access to the NDMIS PAG Reports folder,{{ base_groups }}
USR-ALL-NATIONAL-Access to the NDMIS National Reports folder,{{ base_groups }}
USR-ALL-TRUST-Access to the NDMIS Trust Based Reports folder,{{ base_groups }}
RES-APP-CPA08-ADM-NDMIS CPA08 Folder Content auth Report Admins,{{ base_groups }}
RES-APP-CPA15-ADM-NDMIS CPA15 Folder Content auth Report Admins,{{ base_groups }}
RES-FS-CFO-R,ou=Fileshare,{{ base_groups }}
RES-FS-WMT-RW,ou=Fileshare,{{ base_groups }}
RES-FS-CL-DEBS-R,ou=Fileshare,{{ base_groups }}
RES-FS-EPP-NPS-R,ou=Fileshare,{{ base_groups }}
RES-FS-NS-DEBS-R,ou=Fileshare,{{ base_groups }}
RES-FS-CL-DEBS-RW,ou=Fileshare,{{ base_groups }}
RES-FS-DDC-DEBS-R,ou=Fileshare,{{ base_groups }}
RES-FS-DTV-DEBS-R,ou=Fileshare,{{ base_groups }}
RES-FS-EPP-NPS-RW,ou=Fileshare,{{ base_groups }}
RES-FS-NS-DEBS-RW,ou=Fileshare,{{ base_groups }}
RES-FS-PPAS-NPS-R,ou=Fileshare,{{ base_groups }}
RES-FS-SWM-DEBS-R,ou=Fileshare,{{ base_groups }}
RES-FS-CGM-DEBS-RW,ou=Fileshare,{{ base_groups }}
RES-FS-DDC-DEBS-RW,ou=Fileshare,{{ base_groups }}
RES-FS-DLNR-DEBS-R,ou=Fileshare,{{ base_groups }}
RES-FS-DTV-DEBS-RW,ou=Fileshare,{{ base_groups }}
RES-FS-HLNY-DEBS-R,ou=Fileshare,{{ base_groups }}
RES-FS-KSS-DEBS-RW,ou=Fileshare,{{ base_groups }}
RES-FS-MISC-DEBS-R,ou=Fileshare,{{ base_groups }}
RES-FS-PPAS-NPS-RW,ou=Fileshare,{{ base_groups }}
RES-FS-SWM-DEBS-RW,ou=Fileshare,{{ base_groups }}
RES-FS-Wales-NPS-R,ou=Fileshare,{{ base_groups }}
RES-FS-WWM-DEBS-RW,ou=Fileshare,{{ base_groups }}
RES-FS-BENCH-DEBS-R,ou=Fileshare,{{ base_groups }}
RES-FS-BGSW-DEBS-RW,ou=Fileshare,{{ base_groups }}
RES-FS-DLNR-DEBS-RW,ou=Fileshare,{{ base_groups }}
RES-FS-Essex-DEBS-R,ou=Fileshare,{{ base_groups }}
RES-FS-HLNY-DEBS-RW,ou=Fileshare,{{ base_groups }}
RES-FS-London-NPS-R,ou=Fileshare,{{ base_groups }}
RES-FS-MISC-DEBS-RW,ou=Fileshare,{{ base_groups }}
RES-FS-Wales-NPS-RW,ou=Fileshare,{{ base_groups }}
RES-FS-BENCH-DEBS-RW,ou=Fileshare,{{ base_groups }}
RES-FS-Essex-DEBS-RW,ou=Fileshare,{{ base_groups }}
RES-FS-LONDON-DEBS-R,ou=Fileshare,{{ base_groups }}
RES-FS-London-NPS-RW,ou=Fileshare,{{ base_groups }}
RES-FS-Thames-DEBS-R,ou=Fileshare,{{ base_groups }}
RES-FS-Wales-DEBS-RW,ou=Fileshare,{{ base_groups }}
RES-FS-LONDON-DEBS-RW,ou=Fileshare,{{ base_groups }}
RES-FS-Midlands-NPS-R,ou=Fileshare,{{ base_groups }}
RES-FS-Thames-DEBS-RW,ou=Fileshare,{{ base_groups }}
RES-FS-Midlands-NPS-RW,ou=Fileshare,{{ base_groups }}
RES-FS-NorthEast-NPS-R,ou=Fileshare,{{ base_groups }}
RES-FS-NorthWest-NPS-R,ou=Fileshare,{{ base_groups }}
RES-FS-NorthEast-NPS-RW,ou=Fileshare,{{ base_groups }}
RES-FS-NorthWest-NPS-RW,ou=Fileshare,{{ base_groups }}
RES-FS-Hampshire-DEBS-RW,ou=Fileshare,{{ base_groups }}
RES-FS-Merseyside-DEBS-RW,ou=Fileshare,{{ base_groups }}
RES-FS-Northumbria-DEBS-RW,ou=Fileshare,{{ base_groups }}
RES-FS-West-Yorkshire-DEBS-R,ou=Fileshare,{{ base_groups }}
RES-FS-South-Yorkshire-DEBS-R,ou=Fileshare,{{ base_groups }}
RES-FS-West-Yorkshire-DEBS-RW,ou=Fileshare,{{ base_groups }}
RES-FS-South-Yorkshire-DEBS-RW,ou=Fileshare,{{ base_groups }}
RES-FS-SouthEastandEastern-NPS-R,ou=Fileshare,{{ base_groups }}
RES-FS-SouthEastandEastern-NPS-RW,ou=Fileshare,{{ base_groups }}
RES-FS-SouthWestandSouthCentral-NPS-R,ou=Fileshare,{{ base_groups }}
RES-FS-SouthWestandSouthCentral-NPS-RW,ou=Fileshare,{{ base_groups }}
