{% for item in range(1, perf_test_users|default('0')|int) %}
dn:cn={{ 'nd.perf%05d' % item }},{{ base_users }}
cn:{{ 'nd.perf%05d' % item }}
uid:{{ 'nd.perf%05d' % item }}
mail:{{ 'nd.perf%05d' % item }}
userPassword: {{ performance_test_user_password }}
description:Performance test user {{ '%d' % item }}
givenname:{{ 'nd.perf%05d' % item }}
sn:{{ 'nd.perf%05d' % item }}
userhomearea:N01
userSector:public
objectclass:NDUser
objectclass:inetOrgPerson
objectclass:organizationalPerson
objectclass:person
objectclass:top

dn:cn=UserPreferences,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
locale:en
objectclass:UserPreferences
objectclass:top
cn:UserPreferences

dn:cn=CWBT001,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CWBT001,{{ base_roles }}
cn: CWBT001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=CWBT001a,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CWBT001a,{{ base_roles }}
cn: CWBT001a
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=CWBT002,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CWBT002,{{ base_roles }}
cn: CWBT002
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=CWBT050,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CWBT050,{{ base_roles }}
cn: CWBT050
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=CWBT050a,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CWBT050a,{{ base_roles }}
cn: CWBT050a
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=CWBT101,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CWBT101,{{ base_roles }}
cn: CWBT101
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=CWBT102,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CWBT102,{{ base_roles }}
cn: CWBT102
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=CWBT103,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CWBT103,{{ base_roles }}
cn: CWBT103
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=CWBT104,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CWBT104,{{ base_roles }}
cn: CWBT104
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=CWBT105,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CWBT105,{{ base_roles }}
cn: CWBT105
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=RPBT001,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=RPBT001,{{ base_roles }}
cn: RPBT001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=RPBT003,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=RPBT003,{{ base_roles }}
cn: RPBT003
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=RPBT050,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=RPBT050,{{ base_roles }}
cn: RPBT050
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=SEBT001,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=SEBT001,{{ base_roles }}
cn: SEBT001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=SEBT002,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=SEBT002,{{ base_roles }}
cn: SEBT002
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=SEBT002a,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=SEBT002a,{{ base_roles }}
cn: SEBT002a
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=SEBT003,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=SEBT003,{{ base_roles }}
cn: SEBT003
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=SEBT003a,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=SEBT003a,{{ base_roles }}
cn: SEBT003a
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=SEBT011,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=SEBT011,{{ base_roles }}
cn: SEBT011
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=SEBT012,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=SEBT012,{{ base_roles }}
cn: SEBT012
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=SEBT013,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=SEBT013,{{ base_roles }}
cn: SEBT013
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=NSBT001,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=NSBT001,{{ base_roles }}
cn: NSBT001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=NSBT002,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=NSBT002,{{ base_roles }}
cn: NSBT002
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=NSBT005,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=NSBT005,{{ base_roles }}
cn: NSBT005
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=NSBT004,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=NSBT004,{{ base_roles }}
cn: NSBT004
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=NSBT006,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=NSBT006,{{ base_roles }}
cn: NSBT006
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=NSBT007,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=NSBT007,{{ base_roles }}
cn: NSBT007
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=NSBT008,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=NSBT008,{{ base_roles }}
cn: NSBT008
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=CABT001,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CABT001,{{ base_roles }}
cn: CABT001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=CABT002,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CABT002,{{ base_roles }}
cn: CABT002
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=CABT003,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CABT003,{{ base_roles }}
cn: CABT003
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=CABT004,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CABT004,{{ base_roles }}
cn: CABT004
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=CABT005,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CABT005,{{ base_roles }}
cn: CABT005
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=CABT008,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CABT008,{{ base_roles }}
cn: CABT008
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=CABT009,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CABT009,{{ base_roles }}
cn: CABT009
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=CABT013,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CABT013,{{ base_roles }}
cn: CABT013
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=CABT012,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CABT012,{{ base_roles }}
cn: CABT012
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=SPBT001,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=SPBT001,{{ base_roles }}
cn: SPBT001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=SPBT002,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=SPBT002,{{ base_roles }}
cn: SPBT002
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=SPBT003,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=SPBT003,{{ base_roles }}
cn: SPBT003
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=RDBT001,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=RDBT001,{{ base_roles }}
cn: RDBT001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=RDBT002,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=RDBT002,{{ base_roles }}
cn: RDBT002
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=RDBT003,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=RDBT003,{{ base_roles }}
cn: RDBT003
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UMBT001,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=UMBT001,{{ base_roles }}
cn: UMBT001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UMBT002,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=UMBT002,{{ base_roles }}
cn: UMBT002
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=OIBT0001,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=OIBT0001,{{ base_roles }}
cn: OIBT0001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=OIBT0002,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=OIBT0002,{{ base_roles }}
cn: OIBT0002
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=OIBT0002a,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=OIBT0002a,{{ base_roles }}
cn: OIBT0002a
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=OIBT0003,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=OIBT0003,{{ base_roles }}
cn: OIBT0003
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=OIBT0004,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=OIBT0004,{{ base_roles }}
cn: OIBT0004
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=OIBT0005,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=OIBT0005,{{ base_roles }}
cn: OIBT0005
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=OIBT050,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=OIBT050,{{ base_roles }}
cn: OIBT050
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=WPBT001,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=WPBT001,{{ base_roles }}
cn: WPBT001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=WPBT002,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=WPBT002,{{ base_roles }}
cn: WPBT002
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=WPBT003,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=WPBT003,{{ base_roles }}
cn: WPBT003
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=WPBT004,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=WPBT004,{{ base_roles }}
cn: WPBT004
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=WPBT006,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=WPBT006,{{ base_roles }}
cn: WPBT006
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=WPBT007,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=WPBT007,{{ base_roles }}
cn: WPBT007
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=WPBT005,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=WPBT005,{{ base_roles }}
cn: WPBT005
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=WPBT050,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=WPBT050,{{ base_roles }}
cn: WPBT050
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=TCBT001,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=TCBT001,{{ base_roles }}
cn: TCBT001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=TCBT002,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=TCBT002,{{ base_roles }}
cn: TCBT002
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=TCBT004,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=TCBT004,{{ base_roles }}
cn: TCBT004
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=TCBT003,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=TCBT003,{{ base_roles }}
cn: TCBT003
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=DRBT001,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=DRBT001,{{ base_roles }}
cn: DRBT001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=DRBT021,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=DRBT021,{{ base_roles }}
cn: DRBT021
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=DRBT007,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=DRBT007,{{ base_roles }}
cn: DRBT007
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=DRBT002,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=DRBT002,{{ base_roles }}
cn: DRBT002
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=DRBT003,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=DRBT003,{{ base_roles }}
cn: DRBT003
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=DRBT004,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=DRBT004,{{ base_roles }}
cn: DRBT004
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=DRBT005,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=DRBT005,{{ base_roles }}
cn: DRBT005
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=DRBT006,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=DRBT006,{{ base_roles }}
cn: DRBT006
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UWBT001,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=UWBT001,{{ base_roles }}
cn: UWBT001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UWBT051,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=UWBT051,{{ base_roles }}
cn: UWBT051
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UWBT002,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=UWBT002,{{ base_roles }}
cn: UWBT002
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UWBT052,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=UWBT052,{{ base_roles }}
cn: UWBT052
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UWBT053,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=UWBT053,{{ base_roles }}
cn: UWBT053
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UWBT003,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=UWBT003,{{ base_roles }}
cn: UWBT003
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UWBT010,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=UWBT010,{{ base_roles }}
cn: UWBT010
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UWBT050,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=UWBT050,{{ base_roles }}
cn: UWBT050
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UWBT060,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=UWBT060,{{ base_roles }}
cn: UWBT060
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=EXBT001,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=EXBT001,{{ base_roles }}
cn: EXBT001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=EXBT002,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=EXBT002,{{ base_roles }}
cn: EXBT002
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=EXBT003,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=EXBT003,{{ base_roles }}
cn: EXBT003
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=EXBT050,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=EXBT050,{{ base_roles }}
cn: EXBT050
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=CLBT001,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CLBT001,{{ base_roles }}
cn: CLBT001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=CLBT007,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CLBT007,{{ base_roles }}
cn: CLBT007
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=CLBT005,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CLBT005,{{ base_roles }}
cn: CLBT005
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=CLBT003,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CLBT003,{{ base_roles }}
cn: CLBT003
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=CLBT008,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CLBT008,{{ base_roles }}
cn: CLBT008
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=CLBT006,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CLBT006,{{ base_roles }}
cn: CLBT006
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=CLBT002,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CLBT002,{{ base_roles }}
cn: CLBT002
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=CLBT050,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CLBT050,{{ base_roles }}
cn: CLBT050
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=CLBT101,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CLBT101,{{ base_roles }}
cn: CLBT101
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=RRBT001,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=RRBT001,{{ base_roles }}
cn: RRBT001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=RRBT002,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=RRBT002,{{ base_roles }}
cn: RRBT002
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=RRBT002a,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=RRBT002a,{{ base_roles }}
cn: RRBT002a
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=RRBT004,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=RRBT004,{{ base_roles }}
cn: RRBT004
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=RRBT003,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=RRBT003,{{ base_roles }}
cn: RRBT003
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=APBT001,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=APBT001,{{ base_roles }}
cn: APBT001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=APBT002,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=APBT002,{{ base_roles }}
cn: APBT002
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=APBT102,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=APBT102,{{ base_roles }}
cn: APBT102
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=APBT003,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=APBT003,{{ base_roles }}
cn: APBT003
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=APBT004,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=APBT004,{{ base_roles }}
cn: APBT004
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=APBT104,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=APBT104,{{ base_roles }}
cn: APBT104
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=APBT005,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=APBT005,{{ base_roles }}
cn: APBT005
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=APBT105,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=APBT105,{{ base_roles }}
cn: APBT105
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=APBT050,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=APBT050,{{ base_roles }}
cn: APBT050
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=APBT150,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=APBT150,{{ base_roles }}
cn: APBT150
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UABT0001,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=UABT0001,{{ base_roles }}
cn: UABT0001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UABT0002,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=UABT0002,{{ base_roles }}
cn: UABT0002
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UABT0003,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=UABT0003,{{ base_roles }}
cn: UABT0003
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UABT0005,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=UABT0005,{{ base_roles }}
cn: UABT0005
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UABT0050,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=UABT0050,{{ base_roles }}
cn: UABT0050
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UABT0051,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=UABT0051,{{ base_roles }}
cn: UABT0051
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UABT0052,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=UABT0052,{{ base_roles }}
cn: UABT0052
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UPBT001,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=UPBT001,{{ base_roles }}
cn: UPBT001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=DSBT001,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=DSBT001,{{ base_roles }}
cn: DSBT001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=DSBT002,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=DSBT002,{{ base_roles }}
cn: DSBT002
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=DMBT001,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=DMBT001,{{ base_roles }}
cn: DMBT001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=DMBT002,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=DMBT002,{{ base_roles }}
cn: DMBT002
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=DMBT003,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=DMBT003,{{ base_roles }}
cn: DMBT003
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=OABT001,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=OABT001,{{ base_roles }}
cn: OABT001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=OABT002,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=OABT002,{{ base_roles }}
cn: OABT002
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=DPBT001,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=DPBT001,{{ base_roles }}
cn: DPBT001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=SYBT001,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=SYBT001,{{ base_roles }}
cn: SYBT001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=SYBT002,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=SYBT002,{{ base_roles }}
cn: SYBT002
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=SYBT003,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=SYBT003,{{ base_roles }}
cn: SYBT003
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=CDBT001,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CDBT001,{{ base_roles }}
cn: CDBT001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=NIBT0001,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=NIBT0001,{{ base_roles }}
cn: NIBT0001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=NIBT0002,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=NIBT0002,{{ base_roles }}
cn: NIBT0002
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=NIBT0003,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=NIBT0003,{{ base_roles }}
cn: NIBT0003
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=NIBT0004,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=NIBT0004,{{ base_roles }}
cn: NIBT0004
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=CABT010,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CABT010,{{ base_roles }}
cn: CABT010
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=CABT011,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=CABT011,{{ base_roles }}
cn: CABT011
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=GTBT001,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=GTBT001,{{ base_roles }}
cn: GTBT001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=GTBT002,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=GTBT002,{{ base_roles }}
cn: GTBT002
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=SPGBT000,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=SPGBT000,{{ base_roles }}
cn: SPGBT000
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=SPGBT001,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=SPGBT001,{{ base_roles }}
cn: SPGBT001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=SPGBT010,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=SPGBT010,{{ base_roles }}
cn: SPGBT010
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=SPGBT003,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=SPGBT003,{{ base_roles }}
cn: SPGBT003
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=SPGADBT001,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=SPGADBT001,{{ base_roles }}
cn: SPGADBT001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=SPGADBT002,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=SPGADBT002,{{ base_roles }}
cn: SPGADBT002
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=SPGADBT003,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=SPGADBT003,{{ base_roles }}
cn: SPGADBT003
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=SPGADBT004,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=SPGADBT004,{{ base_roles }}
cn: SPGADBT004
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=SPGBT900,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=SPGBT900,{{ base_roles }}
cn: SPGBT900
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=AUDBT001,cn={{ 'nd.perf%05d' % item }},{{ base_users }}
aliasedobjectname:cn=AUDBT001,{{ base_roles }}
cn: AUDBT001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top



{% endfor %}